<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daysi Project</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.7/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        #input {
            position: absolute;
            top: 375px;
            left: 750px;
        }
        #box{
            position: absolute;
            top: 450px;
            left: 750px;
        }
        #button_send{
            position: absolute;
            top: 525px;
            left: 750px;
        }
    </style>
</head>
<body>
    <input type="text" placeholder="Le verbe a l'infinitif" id="input" class="input input-bordered input-accent w-full max-w-xs" />
    <select id="box" class="select select-secondary w-full max-w-xs">
        <option disabled selected>Selctionne le Temps</option>
        <option>Parfait</option>
        <option>Passél</option>
        <option>Présent</option>
        <option>Futuro</option>
    </select>
    <button id="button_send" class="btn btn-secondary">Secondary</button>
</body>
</html>